/*----------------------------------------------
#Code
----------------------------------------------*/
p,
ul,
ol {
  code {
    background: var(--color__body);
    padding: .3em;
    display: inline-block;
    line-height: 1;
    border-radius: .2em;
    font-size: $font-size__small;
    font-family: $font-family__code;
  }
}

pre[class*="language-"] {
  margin: $margin__base 0;
  border-radius: .2em;
  background: $color__gray--darker;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: $font-size__code;
}
