/*--------------------------------------------------------------
#Typography
--------------------------------------------------------------*/

/*
 * General
 * -----------------------------------------------------------
 */

p {
  margin: $margin__base 0;
  line-height: $line-height__base;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family__heading;
  font-weight: $font-weight__regular;
  line-height: $line-height__heading;
}

.title-large {
  font-size: $font-size__large;
  margin: 0;
}

/*
 * Links
 * -----------------------------------------------------------
 */

a {
  color: var(--color__highlight);
  font-weight: $font-weight__regular;
  text-decoration: none;

  &:hover {
    color: var(--color__highlight);
    text-decoration: underline;
  }

  &:focus {
    outline: $outline;
  }
}

/*
 * Misc Elements
 * -----------------------------------------------------------
 */

hr {
  margin: $margin__base auto;
  border: 1px solid var(--color__highlight);;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}
