/*--------------------------------------------------------------
#Galleries
--------------------------------------------------------------*/

.wp-block-gallery {
  margin: $margin__base 0 0 0;

  .blocks-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li::before {
      content: none;
    }

    figure {
      margin: 0;
      height: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      overflow: auto;
      padding: $margin__base;
      color: $color__white;
      text-align: center;
      background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);

      img {
        display: inline;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    .blocks-gallery-item {
      width: calc((100% - #{$margin__base})/2);
      margin: 0 $margin__base $margin__base 0;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      position: relative;

      @media (max-width: 599px) {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  &.is-cropped {
    .blocks-gallery-item a,
    .blocks-gallery-item img {
      width: 100%;
      height: 100%;
      flex: 1;
      object-fit: cover;
    }
  }

  @media (min-width: 600px) {
    &.columns-1 .blocks-gallery-item {
      width: 100%;
      margin-right: 0;
    }

    @for $i from 2 to 8 {
      $factor: $i - 1;
      &.columns-#{$i} .blocks-gallery-item {
        width:calc((100% - #{$margin__base} * #{$factor})/#{$i});
        margin-right: $margin__base
      }

      &.columns-#{$i} .blocks-gallery-item:nth-of-type(#{$i}n) {
          margin-right: 0
      }
    }
  }

  .blocks-gallery-item:last-child {
    margin-right: 0
  }
}
