/*--------------------------------------------------------------
#Fonts
--------------------------------------------------------------*/

// @import must be at top of file, otherwise CSS will not work
@import url("//hello.myfonts.net/count/36f9a1");

@font-face {
  font-family: 'AmsiProNarw-Black';
  src: url('assets/font/36F9A1_0_0.eot');
  src: url('assets/font/36F9A1_0_0.eot?#iefix') format('embedded-opentype'),
    url('assets/font/36F9A1_0_0.woff2') format('woff2'),
    url('assets/font/36F9A1_0_0.woff') format('woff'),
    url('assets/font/36F9A1_0_0.ttf') format('truetype');
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap");
