/*--------------------------------------------------------------
#Mixins
--------------------------------------------------------------*/

// mixin for  switching colors in settings
@mixin color-switch($color) {
  #switch--#{$color} {
    background-color: var(--#{$color});
  }
}

// mixin for random bubbles
@mixin bubbles($left, $scale, $opacity, $moveclouds, $sideways, $delay) {
  left: $left;
  transform: scale($scale);
  opacity: $opacity;
  animation: moveclouds $moveclouds linear $delay infinite,sideWays $sideways ease-in-out infinite alternate;
}
