/*--------------------------------------------------------------
#Mixins
--------------------------------------------------------------*/

// mixin for  switching colors in settings
@mixin color-switch($color-name, $color) {
  #switch--#{$color-name} {
    background-color: $color;
  }
}

// mixin for random bubbles
@mixin bubbles($left, $scale, $opacity, $moveclouds, $sideways, $delay) {
  left: $left;
  transform: scale($scale);
  opacity: $opacity;
  animation: moveclouds $moveclouds linear $delay infinite,sideWays $sideways ease-in-out infinite alternate;
}

// mixin hover bob animation
@mixin bob-animation($tag) {
  #{$tag} {
    animation-name: hide-start;
    animation-duration: .5s;
  }

  #{$tag} img {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    animation-name: bob-start;
    animation-duration: .3s;
  }

  #{$tag}:hover img,
  #{$tag}:focus img,
  #{$tag}:active img {
    animation-name: bob-float, bob;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
  }
}

// mixin hover bob animation font-size
@mixin bob-animation-font-size() {
  @media #{$breakpoint__1200--min} {
    font-size: calc(7px + .8vw);
  }

  @media #{$breakpoint__1500--min} {
    font-size: 1rem;
  }

  @media #{$breakpoint__1199--max} {
    font-size: calc(10px + 1vw);
  }

  @media #{$breakpoint__767--max} {
    font-size: calc(5px + 1.2vw);
  }
}
