/*--------------------------------------------------------------
#Figures
--------------------------------------------------------------*/

figure {
  margin: $margin__base 0;
}

.wp-block-image,
.wp-block-video {
  margin: $margin__base 0;

  figcaption {
    font-size: .8rem;
    margin-bottom: 0;
    font-style: italic;
    color: inherit;
    opacity: .7;
    text-align: center;
  }
}

// Image
.wp-block-image {
  max-width: 100%;
  text-align: center;

  > figure {
    margin: 0;
  }

  .alignleft,
  .alignright,
  .aligncenter,
  .alignnone,
  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.alignnone {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .img-link {
    img {
      border: 1px solid var(--color__highlight);
    }

    &:focus {
      img {
        outline: $outline;
      }
    }
  }
}

// Video
.wp-block-video {
  video {
    display: block;
  }
}
