/*--------------------------------------------------------------
#Single
--------------------------------------------------------------*/

.post {
  padding: 4rem 0;

  &__meta {
    font-size: .9rem;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;

    .posted-on {
      margin-right: 1.5em;
    }

    svg {
      font-size: inherit;
      height: 1em;
      margin-right: .5em;
      width: 1.25em;
      vertical-align: -.125em;
      color: var(--color__highlight);
      display: inline-block;
      overflow: visible;
    }
  }
}
