/*--------------------------------------------------------------
#Related
--------------------------------------------------------------*/

.related {
  padding: 4rem 0;

  &__items {
    margin-top: 2rem;
  }

  &--factory{
    &__items {
      display: grid;
      gap: 1rem;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }

      @media (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
