/*--------------------------------------------------------------
#Search
--------------------------------------------------------------*/

.search-form {
  margin: 4rem 0;

  input {
    padding: .75rem 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    border: 0;
    font-weight: $font-weight__regular;
    background: rgba(0,0,0,.1);
    color: var(--color__text);
    border-radius: 3rem;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: var(--color__text);
      opacity: .5;
    }

    &::-moz-placeholder {
      color: var(--color__text);
      opacity: .5;
    }

    &:-ms-input-placeholder {
      color: var(--color__text);
      opacity: .5;
    }
  }
}

#search-collapse {
  @media (max-width: 767px) {
    background: var(--color__highlight);
  }

  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;

  &.open {
    max-height: 800px;
    transition: max-height 0.25s ease-in;
  }

  @media (min-width: 768px) {
    .search-form {
      grid-column-start: 2;
      grid-column-end: 5;
    }
  }
}
