/*--------------------------------------------------------------
#Factory
--------------------------------------------------------------*/

.factory-list {
  &__list {
    margin: $margin__base 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $margin__base;

    @media #{$breakpoint__1199--max} {
      grid-template-columns: 1fr 1fr;
    }

    @media #{$breakpoint__767--max} {
      grid-template-columns: 1fr;
    }
  }

  img {
    display: block;
  }
}
