/*--------------------------------------------------------------
#Buttons
--------------------------------------------------------------*/

.btn {
	padding: .5em 1.25em;
	color: var(--color__highlight);
	border: $btn__border-width solid var(--color__highlight);
	background: transparent;
	font-size: inherit;
	display: inline-block;
	border-radius: 2em;

	&:hover,
	&:focus {
		background: var(--color__highlight);
		color: $color__white;
		font-weight: $font-weight__regular;
		text-decoration: none;
	}
}

.btn-small {
	padding: .25em .75em;
	font-size: $font-size__small;
}

.btn-disabled {
	@extend .btn;
	padding-left: 0;
	padding-right: 0;
	cursor: default;
	border-color: transparent;

	&:hover,
	&:focus {
		color: var(--color__highlight);
		background: transparent;
		font-weight: inherit;
	}
}

.btn-active {
	@extend .btn;
	background: var(--color__highlight);
	color: $color__white;
	font-weight: $font-weight__regular;
	cursor: pointer
}
