/*--------------------------------------------------------------
#highlight
--------------------------------------------------------------*/

.highlight {
	color: $color__white;
	background: var(--color__highlight);

	a {
		font-weight: $font-weight__bold;
    color: inherit;

    &:focus {
      outline: $outline-highlight;
    }
  }

  .post-list__icon {
    background: $color__white;
    color: var(--color__highlight);
  }
}
