/*--------------------------------------------------------------
#Reset
--------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

button,
select,
textarea,
input {
	font-size: $font-size-_base;
	font-family: $font-family__base;
	font-weight: $font-weight__light;
}
