/*--------------------------------------------------------------
#Scaffolding
--------------------------------------------------------------*/

html {
	font-size: $font-size__base;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
  font-family: $font-family__base;
  line-height: $line-height__base;
  font-weight: $font-weight__light;
  background: var(--color__bg);
  color: var(--color__text);
}
