/*--------------------------------------------------------------
#Factory feed
--------------------------------------------------------------*/

.factory-feed {
  margin: 2rem 0;
  padding: 4rem 0;

  .svg-inline--fa {
    color: inherit;
  }

  .lead {
    text-align: center;
    margin: 2rem auto 0;
  }

  &__items {
    margin-top: 2rem;
    display: grid;
    gap: .5rem;

    img {
      max-width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      grid-column-start: 2;
      grid-column-end: 5;
      grid-template-columns: repeat(4,1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
