/*--------------------------------------------------------------
#Header home
--------------------------------------------------------------*/

.site-header {
  background-color: var(--color__highlight);
  position: relative;
  overflow: hidden;

  .logo {
    max-width: 10em;
    width: 22vw;
    height: auto;
    display: block;
    margin: 4vw auto 18vw auto;
    filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
    fill: var(--color__wrapper);
  }

  .bubbles-row {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 1px);
    fill: var(--color__wrapper);

    &__third {
      opacity: .5;
    }

    &__second {
      opacity: .7;
    }
  }
}

@media (max-width: 768px) {
	.site-header .logo {
		margin: 8vw auto 22vw auto;
	}
}

/*
 * Bubbles Animation
 * -----------------------------------------------------------
 */

$bubble-size: 10vw;
$sideways: 2vw;
$area-start: 50vw;
$area-end: -300px;

.bubbles-animated {
  &.hidden {
    display: none;
  }

  &__single{
    width: $bubble-size;
    height: $bubble-size;
    background: var(--color__wrapper);
    border-radius: 50%;
    position: absolute;
  }

  &__single:nth-child(1) { @include bubbles(77vw,.17,.1,8.1s,2s,-2s); }
  &__single:nth-child(2) { @include bubbles(76vw,.25,.4,11.1s,2s,-2s); }
  &__single:nth-child(3) { @include bubbles(88vw,.58,.7,9.1s,2s,-4s); }
  &__single:nth-child(4) { @include bubbles(51vw,1,.5,7.1s,5s,-1s); }
  &__single:nth-child(5) { @include bubbles(17vw,1.17,.5,9.1s,4s,-2s); }
  &__single:nth-child(6) { @include bubbles(7vw,1.25,.5,9.2s,2s,-8s); }
  &__single:nth-child(7) { @include bubbles(22vw,.67,.4,9.2s,2s,-5s); }
  &__single:nth-child(8) { @include bubbles(14vw,.58,.9,5.1s,2s,-1s); }
  &__single:nth-child(9) { @include bubbles(21vw,.75,.1,10.2s,4s,-5s); }
  &__single:nth-child(10) { @include bubbles(11vw,1,.3,3.2s,3s,-1s); }
  &__single:nth-child(11) { @include bubbles(69vw,.67,.9,13.2s,4s,-2s); }
  &__single:nth-child(12) { @include bubbles(81vw,.92,.9,10.1s,3s,-1s); }
  &__single:nth-child(13) { @include bubbles(59vw,.67,.2,15.1s,5s,-1s); }
  &__single:nth-child(14) { @include bubbles(42vw,.16,.6,9.1s,4s,-2s); }
  &__single:nth-child(15) { @include bubbles(18vw,.3,.2,4.1s,3s,-4s); }
  &__single:nth-child(16) { @include bubbles(13vw,.25,.3,6.1s,3s,-1s); }
  &__single:nth-child(17) { @include bubbles(30vw,1.25,.2,3.5s,2s,-1s); }
  &__single:nth-child(18) { @include bubbles(64vw,1.08,.2,4.1s,5s,-1s); }
  &__single:nth-child(19) { @include bubbles(84vw,.58,.3,15.1s,3s,-3s); }
  &__single:nth-child(20) { @include bubbles(70vw,.83,.7,5.2s,2s,-5s); }
}

@keyframes moveclouds {
  0% { top: $area-start; }
  100% { top: $area-end; }
}

@keyframes sideWays {
  0% { margin-left: 0; }
  100% { margin-left: $sideways; }
}
