/*--------------------------------------------------------------
#Variables
--------------------------------------------------------------*/

/*
Initial values should be defined through SASS Variables
but variables which need have to be changed depending on dark/light mode
or for different breakpoints should be defined as CSS Variables
*/

// Colors
$color__white: #ffffff;
$color__black: #000000;
$color__gray--dark: #222222;
$color__gray--darker: #1c1c1c;
$color__gray--light: #eeeeee;


// Font-Family
$font-family__base: 'Source Sans Pro', serif;
$font-family__heading: 'AmsiProNarw-Black', sans-serif;

// Font-Sizes
$font-size__base: calc(18px + .25vw);
$font-size__h1: 2.2rem;
$font-size__h2: 1.5rem;
$font-size__h3: 1.2rem;
$font-size__h4: 1rem;
$font-size__small: 0.8rem;
$font-size__medium: calc(22px + 1.5vw);
$font-size__large: calc(26px + 1.6vw);


// Font Line-Height
$line-height__base: calc(1.5em + .2vw);
$line-height__heading: 1.3;

// Font-Weight:
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__bold: 600;

// Margings
$margin__base: 1rem;
$margin__body: 2rem;


$shadow__quarter: 0 0 .5rem rgba(0,0,0,.25);
$shadow__half: 0 0 .5rem rgba(0,0,0,.5);

// Outline
$outline__width: 3px;
$outline: $outline__width dotted var(--color__highlight);
$outline-highlight: $outline__width dotted $color__white;

// Navbar
$navbar__width: 3rem;
$navbar__height: 1.2 * $navbar__width;

// CSS Variables
:root {
	--amber: #FFB300;
	--red: #CF3A3A;
	--pink: #EC407A;
	--purple: #AB47BC;
	--blue: #28aae2;
	--green: #348236;

  --color__highlight: var(--pink);
}

[data-theme="dark"] {
  --color__bg: #{$color__gray--darker};
  --color__wrapper: #{$color__gray--dark};
  --color__text: #{$color__white};
}

[data-theme="light"] {
	--color__bg: #{$color__gray--light};
	--color__wrapper: #{$color__white};
	--color__text: #{$color__gray--dark};
}

[data-color="amber"] { --color__highlight: var(--amber); }
[data-color="red"] { --color__highlight: var(--red); }
[data-color="pink"] { --color__highlight: var(--pink); }
[data-color="purple"] { --color__highlight: var(--purple); }
[data-color="blue"] { --color__highlight: var(--blue); }
[data-color="green"] { --color__highlight: var(--green); }
